.root {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;

  @media screen and (max-width: 1024px) {
    gap: 25px;
  }

  @media screen and (max-width: 768px) {
    gap: 15px;
  }
}

.changeLanguageModalOpenBtn {
  gap: 5px;
  background-color: var(--blue1);
  border-radius: 20px;
  padding: 8px 16px;

  @media screen and (max-width: 500px) {
    padding: 0;
    border-radius: 0;
    background-color: unset !important;
  }

  & > svg {
    font-size: 1.25rem;
    color: var(--gray6);
  }

  & > span {
    font-size: 0.9125rem;
    font-weight: 600;

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  &:hover {
    transition: background-color 0.2s;
    background-color: var(--blue2);
  }
}

.mobileMenuOpenAndCloseBtn {
  display: none;
  font-size: 1.5rem;
  color: var(--gray6);

  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.menu {
  display: flex;
  gap: 45px;

  @media screen and (max-width: 1024px) {
    gap: 35px;
  }

  @media screen and (max-width: 768px) {
    position: absolute;
    flex-flow: column;
    width: 105px;
    top: 40px;
    right: 0;
    gap: 20px;
    background-color: var(--orange1);
    padding: 15px;
    border-radius: 8px;
    z-index: 1;
  }
}

.menuItem {
  position: relative;
  font-size: 0.9125rem;
  font-weight: 500;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    font-size: 0.8125rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.875rem;
  }

  &:hover {
    transition: color 0.2s;
    color: var(--orange7);
  }

  &.active {
    color: var(--orange7);
    font-weight: 600;
  }

  &.active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 4px;
    height: 4px;
    background-color: var(--orange7);
    border-radius: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @media screen and (max-width: 768px) {
    text-align: right;

    &.active::before {
      display: none;
    }

    .menuLink {
      width: 100%;
      justify-content: flex-end;
    }
  }
}
