.root {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background-color: var(--gray2);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.innerBlock {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 100px;
}

.loginBlock {
  margin-top: 60px;
  display: flex;
  width: 950px;
  height: 450px;
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);

  @media screen and (max-width: 1024px) {
    flex-flow: column;
    width: 100%;
    height: auto;
  }
}

.termsBlock {
  margin-top: 35px;
}
