.root {
  margin-top: 40px;
}

.pageTitle {
  font-size: 1.875rem;
  font-weight: 700;
}

.contentBlock {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  gap: 40px;
}

.paragraphBlock {
  display: flex;
  flex-flow: column;
  gap: 30px;
}

.paragraphTitle {
  font-size: 1.25rem;
  font-weight: 500;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.25;
}