.root {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--white);
}

.controlBlock {
  padding: 16px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.prevBtn {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 500;
}

/* .saveBlock {
  display: flex;
  align-items: center;
  gap: 40px;
}

.saveBtn {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 500;
} */

.nextBtn {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
  padding: 14px 28px;
  background-color: var(--pink9);
  color: var(--white);
  min-width: 84px;
  min-height: 44px;
}

.nextBtn:disabled {
  background-color: var(--gray5);
  color: var(--gray9);
}