.root {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;

  @media screen and (max-width: 1024px) {
    gap: 25px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  &.hasModal {
    margin-right: -30px;

    @media screen and (max-width: 1024px) {
      margin-right: -25px;
    }
  }
}

.mobileMenuOpenAndCloseBtn {
  display: none;
  font-size: 1.5rem;
  color: var(--gray6);

  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.menu {
  display: flex;
  gap: 45px;

  @media screen and (max-width: 1024px) {
    gap: 35px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.menuItem {
  position: relative;
  font-size: 0.9125rem;
  font-weight: 500;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    font-size: 0.8125rem;
  }

  &:hover {
    transition: color 0.2s;
    color: var(--orange7);
  }

  &.active {
    color: var(--orange7);
    font-weight: 600;
  }

  &.active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 4px;
    height: 4px;
    background-color: var(--orange7);
    border-radius: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
