:root {
  /* media queries */
  --mobile-width: 375px;
  --tablet-portrait-width: 768px;
  --tablet-landscape-width: 1024px;

  /* colors */
  --white: #ffffff;
  --black7: #2d2d43;
  --black8: #1e1e2d;
  --black9: #000000;
  --gray1: #f9f9f9;
  --gray2: #f8f9fd;
  --gray3: #f1f1f1;
  --gray3: #cccccc;
  --gray4: #b5b5c2;
  --gray5: #999999;
  --gray6: #767676;
  --gray7: #3e3e3e;
  --gray8: #2c2c2c;
  --gray9: #191919;
  --orange1: #ffdfcb;
  --orange3: #ffd1b4;
  --orange5: #fabc95;
  --orange7: #ff9c5a;
  --orange8: #ff822f;
  --orange9: #ff6600;
  --pink3: #ffbab5;
  --pink5: #fc8f88;
  --pink9: #f75959;
  --green7: #00a76f;
  --blue1: #ecf3fc;
  --blue7: #919eab;
}

.main {
  min-width: 1200px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.disable-body-scroll {
  overflow: hidden;
}
