.root {
  display: flex;
  flex-flow: column;
  gap: 30px;
}

.titleBlock {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.cardTitle {
  font-size: 1.125rem;
  font-weight: 500;
}

.cardDescription {
  font-size: 0.8125rem;
  line-height: 1.25;
  color: var(--gray6);
}

.cardBody {
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}