.root {
  width: 100%;
  min-height: 400px;
  top: 0;
  position: relative;
  overflow: visible;
  z-index: 2;
}

.innerBlock {
  z-index: 2;
  display: block;
  white-space: nowrap;
  width: max-content;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, red, blue);
}

.variableWidthBlock {
  position: absolute;
  left: 0;
  transform: translateX(200vw);
  height: 100%;
  width: 100vw;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.variableScaleBlock {
  position: absolute;
}

.keycapBlock {
  position: absolute;
  top: calc(10 * 1.5px);
  left: calc(10 * 1.5px);
}