.root {
  
}

.settingList {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid var(--gray3);
  padding-bottom: 20px;
}

.postStepStatusBlock {}

.postStepStatusList {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.settingItem {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.settingDescription {
  font-size: 0.875rem;
  color: var(--pink9);
  font-weight: 800;
}

