.header {
  position: relative;
  max-width: 1500px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    min-width: 100%;
    max-width: 100%;
  }
}

.leftBlock {}

.rightBlock {
  /* display: flex;
  align-items: center;
  gap: 50px; */
}

