.root {
  margin-top: 50px;
}

.mainBlock {
  display: flex;
  align-items: flex-start;
  margin-top: 60px;
  gap: 70px;
}

.leftBlock {
  width: calc(100% - 350px - 70px);
}

.rightBlock {
  width: 350px;
  position: sticky;
  top: 20px;
}