.logo {
  width: 175.2px;
  height: 60px;

  @media screen and (max-width: 768px) {
    width: 146px;
    height: 50px;
  }

  @media screen and (max-width: 320px) {
    width: 135px;
    height: 46.24px;
  }
}