.root {
  display: flex;
  flex-flow: column;
  gap: 20px;
  border-bottom: 1px solid var(--gray3);
  padding-bottom: 30px;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.breadCrumbs {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.875rem;
  color: var(--gray7);
}

.breadCrumbsIcon {
  font-size: 1.25rem;
  display: flex;
  margin-right: 4px;
  color: var(--gray3);
}

.arrowIcon {
  display: flex;
  color: var(--gray5);
}