.root {
  width: fit-content;
  margin: 0 auto;
}

.animation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-name: loading;
  animation-iteration-count: infinite;
}


.animation > div {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid var(--gray9);
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.animation > div::nth-child(1) {
  animation-delay: -0.45s;
}

.animation > div::nth-child(2) {
  animation-delay: -0.3s;
}

.animation > div::nth-child(3) {
  animation-delay: -0.15s;
}

.black {
  border-color: var(--gray9) !important;
}

.white {
  border-color: var(--white) transparent transparent transparent !important;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}