.root {
  width: fit-content;
  margin: 0 auto;
}

.loader:before{
  content: "";
  position: absolute;
  top: 0px;
  left: -15px;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  -webkit-animation: loaderAmination 3s ease-in-out infinite;
      animation: loaderAmination 3s ease-in-out infinite;
}

.loader{
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  -webkit-animation: loaderm 3s ease-in-out infinite;
      animation: loaderm 3s ease-in-out infinite;
}


.loader:after{
  content: "";
  position: absolute;
  top: 0px;
  left: 15px;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  -webkit-animation: loaderd 3s ease-in-out infinite;
      animation: loaderd 3s ease-in-out infinite;
}

@-webkit-keyframes loaderAmination{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, 1);}
  50%{background-color: rgba(255, 255, 255, .2);}
  75%{background-color: rgba(255, 255, 255, .2);}
  100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loaderAmination{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, 1);}
  50%{background-color: rgba(255, 255, 255, .2);}
  75%{background-color: rgba(255, 255, 255, .2);}
  100%{background-color: rgba(255, 255, 255, .2);}
}

@-webkit-keyframes loaderm{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, .2);}
  50%{background-color: rgba(255, 255, 255, 1);}
  75%{background-color: rgba(255, 255, 255, .2);}
  100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loaderm{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, .2);}
  50%{background-color: rgba(255, 255, 255, 1);}
  75%{background-color: rgba(255, 255, 255, .2);}
  100%{background-color: rgba(255, 255, 255, .2);}
}

@-webkit-keyframes loaderd{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, .2);}
  50%{background-color: rgba(255, 255, 255, .2);}
  75%{background-color: rgba(255, 255, 255, 1);}
  100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loaderd{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, .2);}
  50%{background-color: rgba(255, 255, 255, .2);}
  75%{background-color: rgba(255, 255, 255, 1);}
  100%{background-color: rgba(255, 255, 255, .2);}
}