.form {
  flex: 1;
  box-shadow: 0 0 2px 0 rgba(145 158 171 / 0.2), 0 12px 24px -4px rgba(145 158 171 / 0.12);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
