.root {
  
}

.signInAndSignOut {
  padding: 10px 20px;
  border: 1px solid var(--gray5);
  border-radius: 4px;
  font-size: 0.9125rem;
  font-weight: 500;
  background-color: var(--white);

  &:hover {
    transition: 0.2s;
    background-color: var(--gray2);
    border-color: var(--gray7);
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    width: 100%;
    display: block;
    text-align: right;
    background-color: unset;
    border: unset;

    &:hover {
      background-color: unset;
      border-color: unset;
      color: var(--orange7);
    }
  }
}
